<section class="container">
    <div class="side-top">
        <h1>Painel Administrativo</h1>
        <img src="../../../assets/Niche service marketplace-bro.svg" alt="">
    </div>
    <div class="side-down">
        <div class="cads">
            <div class="card" [routerLink]="['../product-manager']">
                <div class="icon">
                    <i class="fi fi-rr-box-open-full"></i>
                </div>
                <span class="title">Produto</span>
            </div>
        </div>
    </div>
</section>