<div class="box">
  <div class="start-message">
    <p>inscreva-se agora</p>
    <h1>Cadastre-se gratuitamente</h1>
    <span>Já tenho uma conta. <a [routerLink]="['../login']">Entrar</a></span>
  </div>
  <div class="fields" [formGroup]="form">
    <div class="box-field">
      <label for="nome">Nome</label>
      <div class="field">
        <input id="nome" type="text" placeholder="Nome" formControlName="nome"/>
        <i class="fa-regular fa-user"></i>
      </div>
      <div class="validate">
        <div *ngIf="form.get('nome')?.hasError('required') && getInteractionForm(form, 'nome')">
          O campo é obrigatorio
        </div>
      </div>
    </div>
    <div class="box-field">
      <label for="email">E-Mail</label>
      <div class="field">
        <input id="email" type="email" placeholder="Email" formControlName="email"/>
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="validate">
        <div *ngIf="form.get('email')?.hasError('required') && getInteractionForm(form, 'email')">
          O campo é obrigatorio
        </div>
        <div *ngIf="form.get('email')?.hasError('email')  && getInteractionForm(form, 'email')">
          Endereço de E-Mail invalido
        </div>
      </div>
    </div>
    <div class="box-field">
      <label for="password">Senha</label>
      <div class="field">
        <input id="password" type="password" placeholder="Senha" formControlName="senha"/>
        <i class="fa-solid fa-lock"></i>
      </div>
      <div class="validate">
        <div *ngIf="form.get('senha')?.hasError('required') && getInteractionForm(form, 'senha')">
          O campo é obrigatorio
        </div>
        <div *ngIf="form.get('senha')?.hasError('minlength') && getInteractionForm(form, 'senha')">
          A Senha deve ter no mínimo 6 caracteres!
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="remember">
    <div class="check">
      <input type="checkbox" name="" id="">
      <span>Me relembrar</span>
    </div>
    <span><a href="#">Esqueceu a senha?</a></span>
  </div> -->
  <button class="btn-register" (click)="signUp()">Registrar</button>
  <p class="privacy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae beatae ipsum.</p>
</div>
