<div class="sidebar" [ngClass]="{ active: sideActive }">
  <div class="side-content">
    <div class="side-header">
      <div class="menu" [ngClass]="{ change: sideActive }"(click)="toogleActive()">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>
      <h1>Carrinho</h1>
    </div>
    <div class="list-items">
    </div>
    <div>
      <div class="subtotal">
        <div class="message">
          <span>Sub-Total</span>
          <p>{{ 0 }} {{ 0 === 0 ? "items" : "item" }}</p>
        </div>
        <div class="value">
          <h3>{{ 0.0 | currency : 'BRL' : 'symbol-narrow' }}</h3>
        </div>
      </div>
      <button class="btn-buy">Fazer Pedido</button>
    </div>
  </div>
</div>
<section class="top-search">
  <div class="search">
    <input type="text" placeholder="Pesquisar" />
    <button class="icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <div class="btn-slider-cart" (click)="toogleActive()">
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
</section>
<section class="item">
  <div class="side-left">
    <div class="item-img-preview">
      <img src="" alt="" />
    </div>
  </div>
  <div class="side-right">
    <h1 class="title">Produto</h1>
    <p class="description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, delectus
      at sit ad vero expedita fuga enim numquam possimus. Eos harum impedit qui
      nesciunt tenetur.
    </p>
    <h1 class="price">{{ 10.0 | currency : "BRL" : "symbol-narrow" }}</h1>
    <div class="amount">
      <div class="decrement" (click)="decrement()">
        <i class="fa-solid fa-minus"></i>
      </div>
      <div class="counter">
        <p>{{ counter }}</p>
      </div>
      <div class="increment" (click)="increment()">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
    <div class="btns">
      <button class="btn-buy">
        Comprar Agora
        <!-- <i class="fa-solid fa-bag-shopping"></i> -->
      </button>
      <button class="btn-add-cart">
        Adicionar ao Carrinho
        <!-- <i class="fa-solid fa-cart-shopping"></i> -->
      </button>
    </div>
  </div>
</section>



