<section class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <div class="title">Papelart</div>
      <div class="text">Produtos e decorações para você</div>
      <button (click)="saibaMais()">
        Saiba Mais <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </div>
    <div class="space">
      <img
        src="../../../assets/papelaria.png"
        alt=""
        style="
          max-width: 100%;
          filter: drop-shadow(10px 10px 10px rgba(0 0 0 / 52%));
        "
      />
    </div>
  </div>
</section>
<section class="info" style="background: rgb(245 245 245)">
  <h1 class="info-title">Recomendaçoes</h1>
  <p class="sub-title" style="font-size: 1.8rem">Especialmente para você</p>
  <section class="items" style="padding: 0em">
    <div class="card" (click)="({})" *ngFor="let item of [1, 2, 3]">
      <div class="card-preview">
        <img src="../../../assets/luluzinho.jpg" alt="" />
      </div>
      <div class="card-content">
        <h1 class="title">Produto</h1>
        <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
          sapiente in adipisci voluptatem esse reprehenderit?
        </p>
        <h1 class="price">
          {{ 10.0 | currency : "BRL" : "symbol-narrow" }}
        </h1>
      </div>
    </div>
  </section>
</section>
<section class="info pink dp-flex">
  <div class="text">
    <h1 class="info-title">Especial do Mês</h1>
    <p class="sub-title" style="font-size: 2.1rem">
      Encante alguém especial com este presente cuidadosamente selecionado. Uma
      lembrança única para aquela pessoa maravilhosa em sua vida. Surpreenda e
      compartilhe a alegria neste mês especial!
    </p>
  </div>
  <div class="img-unique-preview img-rounded">
    <img src="../../../assets/foto_casamento.jpg" alt="" />
  </div>
</section>
<section class="info" style="background: rgb(245 245 245)">
  <h1 class="info-title">Já pensou no que presentear?</h1>
  <p class="sub-title" style="font-size: 1.8rem">Faça a escolha certa</p>
  <section class="items" style="padding: 0em">
    <div class="card" (click)="({})" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
      <div class="card-preview">
        <img src="../../../assets/caixa_de_presente.jpg" alt="" />
      </div>
      <div class="card-content">
        <h1 class="title">Produto</h1>
        <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
          sapiente in adipisci voluptatem esse reprehenderit?
        </p>
        <h1 class="price">
          {{ 5.0 | currency : "BRL" : "symbol-narrow" }}
        </h1>
      </div>
    </div>
  </section>
</section>
<section class="footer">
  <div class="footer-content">
    <div class="text-box">
      <div class="box-title">Nosso Endereço</div>
      <ul>
        <li>Rua Fulano de Tal, 99</li>
        <li>Cep: 99999-999</li>
      </ul>
    </div>
    <div class="text-box wraper">
      <div class="text-box">
        <div class="box-title">Contato</div>
        <ul>
          <li>(99) 9 9999-9999</li>
        </ul>
      </div>
      <div class="text-box">
        <div class="box-title">Redes Sociais</div>
        <ul>
          <li>
            <a href="https://www.instagram.com/papelart.__/">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- <section class="info">
  <div class="text">
    <div class="text-box">
      <div class="box-title" style="font-size: large;">Website Desenvolvido Por</div>
      <ul>
        <li>
          <a style="color: var(--color-black);font-size: medium;" href="https://www.instagram.com/js.aliss0n/">@js.aliss0n</a>
        </li>
      </ul>
    </div>
  </div>
</section> -->
