<div class="container">
  <ng-container *ngIf="getAllProductFromCart().length > 0;else massageBuy">
  <h1 class="page-title">Meu Carrinho</h1>
  <!-- <div class="list-products" *ngFor="let items of getAllDateProducts()">
    <div class="control-cart">
      <div class="checked" (click)="checkedAll(items, check.checked)">
        <input type="checkbox" name="" id="" #check [checked]="isCheckAllActiveDate(items)"/>
        <span>Tudo</span>
      </div>
      <span>{{ items | date : "dd/MM/yyyy" }}</span>
    </div>
    <div class="items-product">
      <div class="item-product" *ngFor="let item of getAllProductFromDate(items)">
        <input type="checkbox" name="" id="" [checked]="item.checked" #checkItem (click)="item.checked = checkItem.checked; printObject(item)"/>
        <div class="item-view">
          <img src="../../../assets/luluzinho.jpg" />
        </div>
        <div class="item-description">
          <h3>{{ item.product.productName }}</h3>
          <p>{{ item.product.description }}</p>
          <div class="unique">
            <h3>{{ item.product.price | currency : "BRL" : "symbol-narrow" }}</h3>
            <div class="amount">
              <div class="decrement" (click)="decrement(item)">
                <i class="fa-solid fa-minus"></i>
              </div>
              <div class="counter">
                <p>{{ item.amount }}</p>
              </div>
              <div class="increment" (click)="increment(item)">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
  <div class="table-tools">
    <div class="table-content">
      <table>
        <thead>
          <tr>
            <th class="minimize">#</th>
            <!-- <th>id</th> -->
            <th></th>
            <th>Produto</th>
            <th></th>
            <th class="text-center minimize">Preço</th>
            <!-- <th>Categoria</th> -->
            <th class="text-center">Quantidade</th>
            <th>Subtotal</th>
            <th class="text-center">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr class="centralize" *ngFor="let p of getAllProductFromCart(); let i = index">
            <td class="minimize"><span attr-data="#">{{i}}</span></td>
            <!-- <td><span attr-data="id">{{p.product.id}}</span></td> -->
            <td>
              <div class="product-view">
                 <img [src]="p.product.photoObject" height="70px">
              </div>
            </td>
            <td><span attr-data="Produto">{{p.product.productName}}</span></td>
            <td><span attr-data="Descrição" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{p.product.description}}</span></td>
            <td class="minimize"><span attr-data="Preço" class="text-center super-text" >{{p.product.basePrice | currency: 'BRL' : 'symbol-narrow'}}</span></td>
            <!-- <td><span attr-data="Categoria">{{p.product.category}}</span></td> -->
            <td>
              <span attr-data="Quantidade" >
                <div class="amount text-center" style="justify-content: center;">
                  <div class="decrement" (click)="decrement(p)">
                    <i class="fa-solid fa-minus"></i>
                  </div>
                  <div class="counter">
                    <p>{{ p.quantity }}</p>
                  </div>
                  <div class="increment" (click)="increment(p)">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                </div>
              </span>
            </td>
            <td class="super-text">{{(p.product.basePrice * p.quantity) | currency: 'BRL' : 'symbol-narrow'}}</td>
            <td class="text-center">
              <i class="fi fi-rr-trash-xmark"></i>
              <!-- <div class="action">
                <button class="btn-ed" (click)="editar(p.idProduct)">Editar</button>
                <button class="btn-re" (click)="remover(p.idProduct)">Remover</button>
              </div> -->
            </td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td colspan="3">
              <div class="fields">
                <div class="box-field">
                  <label for="cep" style="text-align: start;">Cep</label>
                  <div style="display: flex;gap: 10px;flex-wrap: wrap;">
                    <div class="field" >
                      <input id="cep" type="text" placeholder="Cep" formControlName="cep" mask="00000-000" [showMaskTyped]="true" [specialCharacters]="['-']"/>
                      <i class="fa-regular fa-envelope"></i>
                    </div>
                    <button class="calculate-delivery">Calcular preço</button>
                  </div>
                  <div class="validate">
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <!-- <tr>
            <td colspan="1"></td>
            <td colspan="2">
              <h2>Forma de pagamento</h2>
              <ul>
                <li>Pix</li>
                <li>Cartão</li>
              </ul>
            </td>
          </tr> -->
          <tr>
            <td colspan="6"></td>
            <td colspan="2" style="justify-content: flex-end;">
              <div class="line-information-table">
                <div class="line-subtotal">
                  <span>Total: </span>
                  <span class="value-total">{{getAllTotalAmountCheck() | currency: 'BRL' : 'symbol-narrow'}}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="line-information-table">
      <div class="line-subtotal">
        <span>Subtotal</span>

      </div>
    </div> -->
  </div>
  <div class="line-information">
    <div class="line-action" style="justify-content: flex-end;">
      <a>Continuar comprando</a>
      <button><i class="fi fi-rr-check"></i> Finalizar Comprar</button>
    </div>
  </div>
  </ng-container>
  <ng-template #massageBuy>
    <section class="item empty">
      <div class="side-left">
        <img src="../../../assets/Add to Cart-bro.svg" alt="">
      </div>
      <div class="side-right" style="justify-content: center;">
        <h1>Seu carrinhos está vazio no momento. Que tal explorar nossa incrivel seleção de produtos e adicionar um toque especial às compras?</h1>
        <span [routerLink]="['/m/buscar']"><a>Vá em frente, descubra algo que encante você!</a></span>
      </div>
    </section>
  </ng-template>
</div>
