<div class="fade" style="z-index: 2;" *ngIf="sideActive"></div>
<!-- <div class="sidebar" [ngClass]="{ active: sideActive }">
  <div class="side-content">
    <div class="side-header">
      <div class="menu" [ngClass]="{ change: sideActive }"(click)="toogleActive()">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>
      <h1>Carrinho</h1>
    </div>
    <div class="list-items">
      <div class="item-product" *ngFor="let item of getProductList()">
        <div class="item-view">
          <img src="../../../assets/luluzinho.jpg">
        </div>
        <div class="item-description">
          <h3>{{ item.productName }}</h3>
          <p>{{ item.description }}</p>
          <div class="unique">
            <h3>{{ item.price| currency : 'BRL' : 'symbol-narrow'}}</h3>
            <div class="amount">
              <div class="decrement" (click)="{}">
                <i class="fa-solid fa-minus"></i>
              </div>
              <div class="counter">
                <p>{{ 1 }}</p>
              </div>
              <div class="increment" (click)="{}">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 0em 2em 2em 2em;">
      <div class="subtotal">
        <div class="message">
          <span>Sub-Total</span>
          <p>{{ 0 }} {{ 0 === 0 ? "items" : "item" }}</p>
        </div>
        <div class="value">
          <h3>{{ 0.0 | currency : 'BRL' : 'symbol-narrow' }}</h3>
        </div>
      </div>
      <button class="btn-buy">Fazer Pedido</button>
    </div>
  </div>
</div> -->
<!-- <section class="top-search">
  <div class="search">
    <input type="text" placeholder="Pesquisar" />
    <button class="icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <!-- <div class="btn-slider-cart" (click)="toogleActive()" [ngClass]="{'cart-not-empty' : getCartLength() > 1}" [attr.counter]="getCartLength()">
    <i class="fa-solid fa-cart-shopping"></i>
  </div> >--
</section> -->

<section class="category">
  <ul>
    <li *ngFor="let category of getAllCategory()" (click)="scrollToCategory(category)">
      <a>{{category}}</a>
    </li>
  </ul>
</section>
<br>
<ng-container *ngFor="let category of getAllCategory()">
  <h1 class="category-title" [id]="'ct-' + category">{{category}}</h1>
  <section class="items">
    <div class="card" (click)="viewItem(item.id)" *ngFor="let item of gelAllProductCategory(category)">
      <div class="card-preview">
        <img [src]="item.photoObject" alt="" />
      </div>
      <div class="card-content">
        <h1 class="title">{{item.productName}}</h1>
        <p class="description">
          {{item.description}}
        </p>
        <h1 class="price">
          {{ item.basePrice | currency : "BRL" : "symbol-narrow" }}
        </h1>
        <!-- <div class="stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <p>1 mil</p>
        </div> -->
      </div>
    </div>
  </section>
</ng-container>
<!-- <section class="items" *ngIf="products.length > 0; else empty">
  <div class="card" (click)="viewItem(item.id)" *ngFor="let item of products">
    <div class="card-preview">
      <img [src]="item.photoObject" alt="" />
    </div>
    <div class="card-content">
      <h1 class="title">{{item.productName}}</h1>
      <p class="description">
        {{item.description}}
      </p>
      <h1 class="price">
        {{ item.basePrice | currency : "BRL" : "symbol-narrow" }}
      </h1>
      <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
  </div>
</section> -->

<ng-template #empty>
  <section class="item empty">
    <div class="side-left">
      <img src="../../../assets/Empty-bro.svg" alt="">
    </div>
    <div class="side-right" style="justify-content: center;">
      <h1>Desculpe, estamos trabalhando para adicionar novos produtos em breve. Volte para conferir as novidades</h1>
    </div>
  </section>
</ng-template>
